<h2>Product details:</h2>
<br />
<div class="col-md-6" style='padding-right: 0px; padding-left: 0px;'>
  <table class="table table-striped ">
    <tr>
      <th>Product Id</th>
      <th>Product Name</th>
      <th>Product description</th>
      <th>Price</th>
    </tr>
    <tr>
      <td></td>
      <td>Product Name</td>
      <td>Product description</td>
      <td>Price</td>
    </tr>
  </table>
  <h1>&nbsp;</h1><h1>&nbsp;</h1>
  <table class="table table-striped">
    <tr>
      <th>product.features.color</th>
      <th>product.features.material</th>
      <th>product.features.weight</th>
      <th>product.features.gender</th>
    </tr>
    <tr>
      <td>product.features.color</td>
      <td>product.features.material</td>
      <td>product.features.weight</td>
      <td>product.features.gender</td>
    </tr>
  </table>
  <h1>&nbsp;</h1><h1>&nbsp;</h1>
  <div>
    <form>
      <div class="form-group">
        <div class="row col-sm-2 control-label">
          <button type="button" class="btn btn-primary">Edit Product</button>
          <h6>&nbsp;</h6>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="col-md-6" style='padding-right: 0px; padding-left: 0px;'>
  <table class="table table-striped">
    <tr>
      <th style="text-align:center">Image</th>
    </tr>
    <tr>
      <td><img src="../static/images/burst.shopify.com/shoe1.jpg" width="500" height="500" class="center-block"/>
        <h5 style="text-align:center">Free pictures from: burst.shopify.com</h5>
      </td>
    </tr>
  </table>
</div>
