<h2>Product details:</h2>
<br />
<div class="col-md-6" style='padding-right: 0px; padding-left: 0px;'>
  <table class="table table-striped ">
    <tr>
      <th>Product Id</th>
      <th>Product Name</th>
      <th>Product description</th>
      <th>Price</th>
    </tr>
    <tr>
      <td>{{product.productId}}</td>
      <td>{{product.name}}</td>
      <td>{{product.description}}</td>
      <td>{{product.price}}</td>
    </tr>
  </table>
  <h1>&nbsp;</h1><h1>&nbsp;</h1>
  <table class="table table-striped">
    <tr>
      <th>Product color</th>
      <th>Product material</th>
      <th>Product weight</th>
      <th>Product gender</th>
    </tr>
    <tr>
      <td>{{product.color}}</td>
      <td>{{product.material}}</td>
      <td>{{product.weight}}</td>
      <td>{{product.gender}}</td>
    </tr>
  </table>
  <h1>&nbsp;</h1><h1>&nbsp;</h1>
  <div>
    <form>
      <div class="form-group">
        <div class="row col-sm-4 control-label">
          <button type="button" class="btn btn-primary" (click)="redirectToEditProduct()">Edit Product</button>
        </div>
        <div class="row col-sm-4 control-label">
          <button type="button" class="btn btn-danger" (click)="redirectToDeleteProduct()">Delete Product</button>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="col-md-6" style='padding-right: 0px; padding-left: 0px;'>
  <table class="table table-striped">
    <tr>
      <th style="text-align:center">Image</th>
    </tr>
    <tr>
      <td><img src = "{{product.image}}" width="400" height="400" class="center-block"/>
        <h5 style="text-align:center">Free pictures from: burst.shopify.com</h5>
      </td>
    </tr>
  </table>
</div>
