<div class="row">
  <div class="col-xs-12">
    <a
      href="#"
      (click)="productCategorySelected()"
      class="list-group-item clearfix">
      <div class="pull-left">
        <h4 class="list-group-item-heading">{{ productCategoriesInjected.name }}</h4>
        <p class="list-group-item-text">{{ productCategoriesInjected.name }}</p>
      </div>
      <span class="pull-right">
        <img
          [src]="productCategoriesInjected.image"
          alt="{{ productCategoriesInjected.name }}"
          class="img-responsive"
          style="max-height: 50px;">
      </span>
    </a>
    <div class="col-md-6">
      <button class="btn btn-success" (click)="go(productCategoriesInjected.name)" type="button">click</button>
    </div>
    <!--<app-recipe-item></app-recipe-item>-->
  </div>
</div>
