<div class="row">
  <div class="col-md-2">
    <app-product-categories-list (categorySelectedFromList)="categorySelectedMain($event)"></app-product-categories-list>
  </div>
  <div class="row col-sm-2 control-label">
    <button type="submit" class="btn btn-primary" (click)="addNewProduct()" >Add new Product</button>
    <!--<h6>&nbsp;</h6>-->
  </div>
  <div class="col-md-10">
    <!--<app-product-details *ngIf="selectedProductCategory2; else infoMessage"-->
    <!--[productCategory]="selectedProductCategory"></app-product-details>-->
    <!--<ng-template #infoMessage>-->
      <!--<p>Please select Catgeory</p>-->
    <!--</ng-template>-->
    <app-product-list *ngIf="selectedProductCategory" [productCategory]="selectedProductCategory"></app-product-list>
    <app-product-details *ngIf="selectedProduct" [product]="selectedProduct"></app-product-details>

  </div>
</div>
