<h2>Add new product</h2>
<br />
<form class="form-horizontal">

  <div class="form-group">
    <label class="col-sm-2 control-label" >Product name:</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" />
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label" >Description:</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" />
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label" >Price:</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" />
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label" >Product Category:</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" />
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label" >Product color:</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" />
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label" >Product material:</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" />
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label" >Product weight:</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" />
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label" >Gender:</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" />
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label" >Image:</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" />
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label" ></label>
    <div class="col-sm-1 control-label" style="margin-bottom: 100px">
      <button type="submit" class="btn btn-primary" >Submit</button>
    </div>
  </div>

</form>
