<h2>Add new product</h2>
<br />
<form class="form-horizontal">

  <div class="form-group">
    <label class="col-sm-2 control-label" >Name:</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" #productName/>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label" >Description:</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" #productDescription/>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label" >Price:</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" #productPrice/>
    </div>
  </div>
  <!--<div class="form-group">-->
    <!--<label class="col-sm-2 control-label" >Category:</label>-->
    <!--<div class="col-sm-5">-->
      <!--<input type="text" class="form-control" #productCategory/>-->
    <!--</div>-->
  <!--</div>-->

  <div class="form-group">
    <label class="col-sm-2 control-label" >Category</label>
      <div class="col-sm-5" >
        <select class="form-control" #productCategory>
          <option value="shoes" selected>shoes</option>
          <option value="jackets">jackets</option>
          <option value="socks">socks</option>
          <option value="t-shirts">t-shirts</option>
        </select>
      </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label" >Color:</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" #productColor/>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label" >Material:</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" #productMaterial/>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label" >Weight:</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" #productWeight/>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label" >Gender:</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" #productGender/>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label" >Image:</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" #productImage/>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label" ></label>
    <div class="col-sm-1 control-label" style="margin-bottom: 100px">
      <button type="button" class="btn btn-primary" (click)="saveNewProduct()">Submit</button>
    </div>
  </div>

</form>
